@use './abstracts/' as *;
@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary-font;
}

.error {
  color: $error-red;
  font-weight: bold;
  font-size: 0.9rem;
  
}
