@use '../../styles/abstracts/' as *;

.users_container {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  margin-bottom: 2rem;
  color: $primary-color;
}
